header{
    background-image: url('../img/imagenInicio.jpg');
    background-size: cover;
    background-position: center center;
    /* filter: brightness(0.4); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    font-weight: bold;
    padding: 2rem 8rem;
}

.container{
    margin: 0rem 8rem;
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header{
    display: flex;
    justify-content: space-around;
    width: 20rem;
}
.nav-header a{
    font-size: 1.1rem;
    color: aliceblue;
    font-weight: bold;
}

/* --------------------------------------------------- */
.mas-nosotros{
    margin: 2rem 0rem;
}
.items-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}
