header{
    background-image: url('../img/imagenInicio.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: aliceblue;
}
.navbar{
    background-color: #f0f8ff75;
}

#img-logo{
    width: 8rem;
}

@media screen and (max-width: 1024px){
    #img-logo{
        display: none;
    }
}
/* --------------------------------------------------- */
.mas-nosotros{
    padding: 4rem 0rem;
}
.items-nosotros .row div{
    height: 250px;
}
.icono-nosotros{
    height: 200px;
}