.container {
  max-width: 95%;
}

.filtersColumn {
  max-height: 45rem;
  border: 1px solid rgba(114, 114, 114, 0.812);
  border-radius: 2rem;
  background-color: #f0f8ffa8;
}

.filters {
  max-width: 90%;
  margin: auto;
  text-align: center;
}
.form-group {
  margin-top: 1rem;
}
.form-control {
  text-align: center;
}

.btn {
  width: 3rem;
  color: black;
  font-style: bold;
  background-color: #ffab3d;
  border-color: rgba(114, 114, 114, 0.812);
}

.btnSearch {
  width: 50%;
  background-color: #b7d8f5a8;
}

/* Ocultar los botones de incremento y decremento en los inputs de tipo número */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------------------------------- */
.card {
  text-align: center;
  border: none;
}

.carousel-inner {
  max-height: 20rem;
}

.carousel-item {
  transform: translateY(-35%);
}

.card-image {
  max-width: 100%;
}
