#navbar {
  width: 100%;
  height: 110px;
  background-color: #000000ab;
}

header {
  margin-bottom: 2rem;
}

/* ------------------------------- */
.container {
  max-width: 95%;
}

.filtersColumn {
  width: 18%;
  height: 70%;
  border: 1px solid #727272cf;
  border-radius: 2rem;
  background-color: #e7e7e7a8;
}

.filters {
  max-width: 90%;
  margin: auto;
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
  /* Ocultar barra de scroll Para Firefox */
}

.filters::-webkit-scrollbar {
  display: none;
  /* Para Chrome, Safari y Opera */
}

.form-group {
  margin-top: 1rem;
}

.form-group p {
  margin-bottom: 0.3rem;
}

.form-control {
  text-align: center;
}

.btn {
  width: 3rem;
  color: black;
  font-style: bold;
  background-color: #ffab3d;
  border-color: rgba(114, 114, 114, 0.812);
}

#btnSearch {
  width: 7rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #333333;
  padding: 0.6rem 0.2rem;
  border-radius: 8px;
  border: 4px solid #333333;
}

#btnSearch:hover {
  border: 4px solid #ffab3d;
}

/* Ocultar los botones de incremento y decremento en los inputs de tipo número */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------------------------------- */

/* #posts {
  margin-left: 24%;
  width: 75%;
}

.card {
  text-align: center;
  border: none;
  padding: 0;
  border: 1px solid rgba(114, 114, 114, 0.812);
  border-radius: 1rem;
}

.headerCard {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 2rem;
}

.card-title {
  position: relative;
}

#idPost {
  display: none;
}

.card-image {
  max-width: 100%;
}

#imgCard {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.iconos-caracteristicas {
  max-width: 50rem;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.iconos-caracteristicas li {
  display: flex;
  align-items: center;
}

.iconos-caracteristicas li i {
  font-size: xx-large;
}

.iconos-caracteristicas li p {
  margin: 0;
  font-size: x-large;
  font-style: bold;
}

.btnOpen {
  width: 75%;
} */
/* ------------------ Carta ----------------------- */
#posts {
  margin-left: 20%;
}

.card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: #0000001a 0px 2px 6px;
  display: flex;
  width: 80%;
  height: 19rem;
  flex-direction: row;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: #0000001a 0px 6px 16px;
}

.card__preview {
  height: 19rem;
  min-width: 50vm;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__preview #btn-on-post {
  display: none;
}

.card__preview img {
  width: 100%;
  object-fit: fill;
  transition: all 0.4s ease-out;
}

.card:hover .card__preview img {
  transform: scale(1.1);
}

.card__title {
  font-size: 1.5rem;
}

.card__address {
  margin: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.card__price {
  background-color: #fff;
  color: #262626;
  z-index: 1;
  position: absolute;
  bottom: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  left: 1.25rem;
  font-weight: bold;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.25rem 1.25rem 1.5rem;
  flex-grow: 1;
  color: #262626;
}

.card__bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__description {
  margin-top: 0.5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  position: relative;
}

.fade::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1em;
  background: linear-gradient(to top, white, transparent);
}

.card__buttons {
  display: flex;
  gap: 0.5rem;
}

.card__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__btn svg {
  height: 2rem;
  width: 2rem;
  stroke: #262626;
  stroke-width: 1.5px;
}

.card__btn--like svg {
  stroke: #ff3040;
  fill: #ff3040;
}

.btn__vm {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #fda54c;
  border: none;
  color: ghostwhite;
}

/* --------------------------------------------------- */
