#navbar {
  width: 100%;
  height: 110px;
  background-color: #000000ab;
}

header {
  margin-bottom: 0.5rem;
}

/* ------------------------------- */
.contenedor {
  display: flex;
}

.filtersColumn {
  margin-left: 0.5rem;
  width: 20%;
  /* height: 78%; */
  /* border: solid 1px #000000; */
  border-radius: 8px;
  background-color: #ffffff;
  padding: 1rem 0.2rem 0.5rem 1rem;
}

.filtersColumn h2 {
  font-size: 1.2rem;
}

.filters {
  max-width: 90%;
  margin: 0;
  /* text-align: center; */
  /* overflow: auto;
  scrollbar-width: none; */
  /* Ocultar barra de scroll Para Firefox */
}

.select-propiedad {
  height: 2rem;
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.2rem;
  border-radius: 4px;
  background-color: #fff;
}

.select-propiedad:hover {
  cursor: pointer;
}

.rango-precio {
  margin: 0.5rem 0;
  padding: 0.2rem;
}

.ubicacion {
  margin: 0.5rem 0;
}

.ubicacion input {
  margin: 0;
}

form div p {
  margin: 0;
}

form div input {
  width: 100%;
  margin-bottom: 0.5rem;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
}

/* .filters::-webkit-scrollbar {
  display: none;
   Para Chrome, Safari y Opera 
} */

.form-group {
  margin: 0.7rem 0;
}

.form-input {
  text-align: center;
  height: 1.7rem;
}

.caract {
  margin: 1.5rem 0;
}

.input-check {
  width: 100%;
  margin: 0.8rem 0;
}

.input-check input {
  width: 1rem;
  margin: 0;
  padding: 0;
}

.btn {
  width: 20%;
  padding: 0;
  height: 1.7rem;
  font-size: 0.9rem;
  color: black;
  /* font-weight: bold; */
  background-color: #ffab3d;
  border-color: #727272cf;
}

#btnSearch {
  width: 100%;
  height: 2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #333333;
  padding: auto;
  border-radius: 8px;
  border: 3px solid #333333;
  transition-duration: 0.3s;
}

#btnSearch:hover {
  border: 3px solid #ffab3d;
}

/* Ocultar los botones de incremento y decremento en los inputs de tipo número */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ------------------ Carta ----------------------- */
#posts {
  width: 80%;
}

.card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: #0000001a 0px 2px 6px;
  display: flex;
  width: 80%;
  height: 19rem;
  flex-direction: row;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: #0000003d 0px 6px 16px;
}

.card__preview {
  height: 19rem;
  width: 35rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__preview #btn-on-post {
  display: none;
}

.card__preview img {
  width: 100%;
  object-fit: fill;
  transition: all 0.4s ease-out;
}

.card:hover .card__preview img {
  transform: scale(1.1);
}

.card__title {
  font-size: 1.5rem;
}

.card__address {
  margin: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.card__price {
  background-color: #fff;
  color: #262626;
  z-index: 1;
  position: absolute;
  bottom: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  left: 1.25rem;
  font-weight: bold;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.25rem 1.25rem 1.5rem;
  flex-grow: 1;
  color: #262626;
}

.card__bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__description {
  margin-top: 0.5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  position: relative;
}

.fade::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1em;
  background: linear-gradient(to top, white, transparent);
}

.card__buttons {
  display: flex;
  gap: 0.5rem;
}

.card__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__btn svg {
  height: 2rem;
  width: 2rem;
  stroke: #262626;
  stroke-width: 1.5px;
}

.card__btn--like svg {
  stroke: #ff3040;
  fill: #ff3040;
}

.btn__vm {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #fda54c;
  border: none;
  color: ghostwhite;
}

/* --------------------------------------------------- */
footer {
  margin-top: 2rem;
  height: 10rem;
  align-items: center;
  background-color: #333333;
  padding: 0 10%;
  color: aliceblue;
}

.navegacion {
  width: 18rem;
}

footer a {
  color: aliceblue;
}