<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/components/profile/profile.css" />
  </head>

  <body>
    <div class="profile">
      <header class="profile__header">
        <div class="profile__avatar">
          <img
            src="../../img/Sin título.png"
            loading="lazy"
            alt="Mentor profile"
          />
        </div>
        <div class="profile__highlight__wrapper">
          <div class="profile__highlight">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-school"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
              <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
            </svg>
            cant_posts
          </div>
          publicaciones
        </div>
      </header>
      <div class="profile__name">
        <h2>name</h2>
      </div>

      <main>
        <div class="tabs-wrapper">
          <ul class="tabs">
            <li class="active">
              <a id="tab1" href="#about">Tus Datos</a>
            </li>
            <li>
              <a id="tab2" href="#reviews">Opiniones</a>
            </li>
            <li id="active-bg"></li>
          </ul>
        </div>
        <div id="tab1-content" class="tab-content tab-content--active"></div>
        <div id="tab2-content" class="tab-content"></div>
      </main>
      <button class="btn btn--primary">Book Mentoring</button>
    </div>
    <script src="./profile.js"></script>
  </body>
</html>
