<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/components/profile/profile.css" />
  </head>

  <body>
    <div class="profile">
      <header class="profile__header">
        <div id="profile_avatar" class="profile__avatar">
          <img id="profile_img" src="" loading="lazy" alt="Mentor profile" />
        </div>
        <div class="profile__highlight__wrapper">
          <div class="profile__highlight">
            <i class="fa-solid fa-house"></i>
            <span id="cant-posts"></span>
          </div>
          <span id="detail"></span>
        </div>
        <div id="val-highlitght" class="profile__highlight__wrapper">
          <div class="profile__highlight">
            <i class="fa-solid fa-star"></i>
            <span id="valoration">5</span>
          </div>
          estrellas
        </div>
      </header>
      <div class="profile__name">
        <h2 id="name">name</h2>
        <input
          type="text"
          id="nameInput"
          placeholder="Como te llamas?"
          class="ocultar"
        />
      </div>

      <main>
        <div class="tabs-wrapper">
          <ul class="tabs">
            <li class="active">
              <a id="tab1" href="#about">Tus Datos</a>
            </li>
            <li>
              <a id="tab2" href="#reviews">Opiniones</a>
            </li>
            <li id="active-bg"></li>
          </ul>
        </div>
        <div id="tab1-content" class="tab-content tab-content--active">
          <div id="data" class="mostrar">
            <div id="emailDiv"></div>
            <div id="phoneDiv"></div>
            <div id="descriptionDiv"></div>
          </div>
          <div id="edit" class="ocultar">
            <label for="emailInput">email:</label>
            <input id="emailInput" type="mail" placeholder="tu email" />
            <label for="phoneInput">numero de contacto:</label>
            <input id="phoneInput" type="text" placeholder="tu telefono" />
            <div id="descriptionZone">
              <label for="descriptionInput">descripcion:</label>
              <textarea
                id="descriptionInput"
                type="text"
                placeholder="cuentanos sobre ti"
              ></textarea>
            </div>
            <button id="discard" class="btn">Descartar cambios</button>
          </div>
        </div>

        <div id="tab2-content" class="tab-content"></div>
      </main>
      <button id="save" class="btn btn--primary ocultar">Guardar</button>
      <button id="edit-profile" class="btn btn--primary">Editar Perfil</button>
    </div>
    <script src="https://kit.fontawesome.com/883028f340.js"></script>
    <script src="./profile.js"></script>
  </body>
</html>
