.container {
  max-width: 95%;
}

#navbar {
  width: 100%;
  height: 110px;
  background-color: #000000ab;
}
header {
  margin-bottom: 2rem;
}

/* ------------------------------- */
.mt4 {
  margin-top: 2rem;
}

.col-4 h2 {
  font-size: 3.2rem;
}

.col-4 h3 {
  font-size: 2.5rem;
}

.iconos-prestaciones {
  max-width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.iconos-prestaciones li {
  display: flex;
  align-items: center;
}

.iconos-prestaciones li i {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

.iconos-prestaciones li p {
  margin: 0;
  font-size: 1.8rem;
  font-style: bold;
}

.iconos-prestaciones-extras {
  max-width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}

.iconos-prestaciones-extras li {
  display: flex;
  align-items: center;
}

.iconos-prestaciones-extras li i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.iconos-prestaciones-extras li p {
  margin: 0;
  font-size: 1.8rem;
  font-style: bold;
}

#map {
  height: 25rem;
  max-height: 25rem;
  width: 100%;
  z-index: -1;
}

#consulta {
  padding: 1rem;
  border: 1px solid #999999;
  border-radius: 1.5rem;
  background-color: #cccccc4a;
}

i.fa-solid {
  font-size: 1.5rem;
}
