#navbar {
  width: 100%;
  height: 110px;
  background-color: #000000ab;
}
/* ------------------------------- */
.datos {
  padding: 1rem;
  border: 1px solid #8c8c8c;
  border-radius: 0.5rem;
  background-color: #d7d7d745;
}

.ocultar {
  display: none;
}

.datos p {
  margin: 0;
}

.editDatos {
  padding: 1rem;
  border: 1px solid #8c8c8c;
  border-radius: 0.5rem;
  background-color: #d7d7d745;
}

.editDatos input {
  border-radius: 0.5rem;
  background-color: #d7d7d745;
}

i {
  font-size: 1.7rem;
}
