html{
    background-color: #ffffff00;
}
body{
    background-color: #00000063;
}
.barra{
    font-weight: bold;
    padding: 0.4rem 10%;
    background-color: #ffffff00;
}
.navbar{
    background-color: #ffffff00;
    height: 110px;
}
.navbar-nav{
    width: 40%;
}
.nav-item a {
    color: aliceblue;
}

#img-logo{
    width: 8rem;
}
.nav-item button{
    width: max-content;
    border: none;
    background-color: #f0f8ff00;
    font-weight: bold;
    color: aliceblue;
    transition-duration: 0.3s;
}
.nav-item button:hover{
    color: #fda54c;
}

/* @media screen and (max-width: 1024px){
    #img-logo{
        display: none;
    }
} */
.nav-link:hover{
    color: #a2a6aa;
}

#btn-profile{
    display: none;
}

#btn-sesion{
    display: none;
}


#btn-profile.mostrar{
    display: block;
}

#btn-sesion.mostrar{
    display: block;
}