header {
  background-image: url("../img/imagenInicio.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: aliceblue;
}
#navbar {
  height: 110px;
  background-color: #ffffff00;
}
/* --------------------------------------------------- */
.mas-nosotros {
  padding: 4rem 0rem;
}
.items-nosotros .row div {
  height: 250px;
}
.icono-nosotros {
  height: 200px;
}
/* --------------------------------------------------- */
.card {
  width: 25rem;
  margin: 2rem 0.5rem;
  background-color: aliceblue;
}
.contenedor {
  margin: 3rem 10% 5rem 10%;
}
.contenedor-anuncios {
  row-gap: 2rem;
}
.card-body a {
  background-color: #ffab3d;
  padding: 0.5rem 2rem;
  color: aliceblue;
  border-radius: 0.3rem;
}
.ver-anuncios {
  background-color: #74b12d;
  padding: 0.5rem 2rem;
  color: aliceblue;
  border-radius: 0.3rem;
}
.publi {
  background-image: url("../img/publi.jpg");
  height: 20rem;
  background-size: cover;
  background-position: center center;
  color: aliceblue;
}
footer {
  height: 10rem;
  align-items: center;
  background-color: #333333;
  padding: 0 10%;
  color: aliceblue;
}
.navegacion {
  width: 18rem;
}
footer a {
  color: aliceblue;
}
/* --------------------------------------------------- */

.card {
  text-align: center;
  border: none;
  padding: 0;
  border: 1px solid rgba(114, 114, 114, 0.812);
  border-radius: 1rem;
}

.headerCard {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 2rem;
}

.card-title {
  position: relative;
  left: 25%;
}

.card-image {
  max-width: 100%;
}

.iconos-caracteristicas {
  max-width: 50rem;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.iconos-caracteristicas li {
  display: flex;
  align-items: center;
}

.iconos-caracteristicas li p {
  margin: 0;
  font-size: x-large;
  font-style: bold;
}

.btnOpen {
  width: 75%;
}
