<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="cards">
      <article class="card">
        <div class="card__preview">
          <a id="btn-on-post" on-post="idPost" href="">
            <i id="iconBtn" class="fa-solid fa-pen-to-square"></i>
          </a>
          <img
            id="imgCard"
            src="img-source"
            class="card-image"
            alt="Casa en venta"
          />
          <div class="card__price">$value</div>
        </div>
        <div class="card__content">
          <h2 class="card__title">Title</h2>
          <p class="card__address">Ubication</p>
          <p class="card__description">Description</p>
          <div class="card__bottom">
            <div class="card__properties">
              Rooms Hab. | WC Baños | Garage Garage
            </div>
            <button class="card__btn" id-fav="idPost">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
                />
              </svg>
            </button>
          </div>
          <button class="btn__vm" data-id="idPost">Ver mas</button>
        </div>
      </article>
    </div>
  </body>
</html>
